<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Allercery</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body style="background-color:#d3d3d3;">
<header class="navbar">
	<div class="col-md-6 col-md-offset-3">
	  <form action="/upload" method="post" enctype="multipart/form-data" >
	    
	  	<br><br><br><br><br><br><br><br><br><br><br><br>
	    <span class="col-md-12 btn btn-default btn-file" >
	      Browse <input type="file" name="image">
	    </span>

	    <br><br><br>
	    <center> Allergies : <input type="text" name="allergies"> </center>
	    <br><br><br>

	    <input id="myBtn" type="submit" value="Upload your image" class="btn btn-primary col-md-6 col-md-offset-3">
	  </form>
	</div>
</header>
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <span class="close">&times;</span>

  <!-- Modal content -->
  <img class="modal-content" id="img01">
  <!--div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div-->

</div>
</body>
</html>
